body {
    margin: 0;
    background: url(./img/bg2.jpg);
    overflow: hidden;
}

#root {
    /* padding: 10px; */
    text-align: center
}

#root h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
    margin-bottom: 10px;
}

#root canvas {
    display: block;
    margin: 40px auto;

}